

.info-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.info-footer a {
    color: rgb(94, 94, 94);
    margin: 0;
    padding: 0 0 10px 0;
}

.info-footer i{
    padding-right: 10px;
    color: rgb(155, 155, 155);
}

.h4-footer {
    color: white;
}