carouselText {
    position: absolute;
    top: 70px;
    left: 200px;
    font-size: 70px;
    width: 550px;
}

.carouselBtn1,  .carouselBtn2{
    width: 120px;
    height: 60px;
    position: absolute;
    bottom: 100px;
    left: 200px;
    background-color: rgb(12, 201, 12);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.carouselBtn2 {
    left: 350px;
    background-color: #F65005;
}

@media (max-width: 998px) {
    .carouselText {
        top: 60px;
        left: 100px;
        font-size: 50px;
        width: 400px;
    }
    
    .carouselBtn1,  .carouselBtn2{
        left: 100px;
    }
    
    .carouselBtn2 {
        left: 250px;
    }
}

@media (max-width: 768px) {
    .carouselText {
        top: 40px;
        font-size: 40px;
        width: 350px;
    }
    
    .carouselBtn1,  .carouselBtn2{
        bottom: 50px;
    }
}

@media (max-width: 578px) {
    .carouselText {
        left: 70px;
        font-size: 35px;
        top: 25px;
        width: 300px;
    }
    
    .carouselBtn1,  .carouselBtn2{
        left: 70px;
        bottom: 40px;
    }
    
    .carouselBtn2 {
        left: 220px;
    }
}